@model CRUDWithEF.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.release_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.release_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.star_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.star_name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {id=Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
