@model IEnumerable<CRUDWithEF.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.release_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movie_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.star_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.release_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movie_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.star_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
